body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}

p {
  color: #404042;
  opacity: .7;
}

.container {
  width: 800px;
  margin: auto;
}

#banner {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('images/uncuyo.jpeg');
  background-size: cover;
  background-position: top;
  padding: 150px 0;
  text-align: center;
}

#banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

#banner p {
  color: white;
  font-size: 24px;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

#footer {
  margin-top: 50px;
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

#footer p {
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (max-width: 960px) {
  #banner h1 {
    color: blue;
  }
}

@media (max-width: 720px) {
  #banner h1 {
    color: green;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}































